.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 8px;
}

.form {
  border: none;
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
  padding: 0;
  width: 385px;
  margin: auto;
}

.form:last-child {
  padding-bottom: 120px;
  margin-bottom: 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.form__input {
  height: 60px;
  border-radius: 4px;
  width: 345px;
  padding: 0 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-bottom: 32px;
}

.form__button {
  color: white;
  background-color: #2f80ed;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 385px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox-content {
  display: flex;
  margin: auto;
  gap: 12px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-color: #2f80ed;
}
