.header {
  background-color: #fff;
  height: 100vh;
  height: 800px;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

.header__background-image {
  background-image: url("../images/background_header.svg");
  background-position: center;
  background-size: cover;
}

.logo {
  position: relative;
  top: 30px;
  left: 30px;
  height: 125px;
  width: 142px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  list-style: none;
  column-gap: 20px;
  position: relative;
  right: 80px;
  margin: 0;
}

.nav__link {
  color: black;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link:hover {
  color: #2f80ed;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
}
.header__title {
  max-width: 729px;
  position: relative;
  left: 80px;
  top: 100px;
}

.header__title-line {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin: 0;
}

.header__title_span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  color: #2f80ed;
}

.header__description {
  margin: 28px 0 0 0;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 40px;
  align-items: center;
  padding: 40px 80px 0;
  justify-content: space-between;
  box-sizing: border-box;
  color: #6f6f6f;
}

.header__footer_hours {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
