.about {
  color: white;
  background-color: #0a2750;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  padding: 100px 80px 173px 80px;
  display: flex;
  justify-content: space-between;
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  width: 251px;
  z-index: 2;
  margin: 0;
}

.about__content {
  max-width: 660px;
  border-bottom: 153px;
}

.about__paragraph {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 19px 0 20px 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: -152px;
  left: -129px;
  z-index: -1;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    scale: 1;
  }
  50% {
    opacity: 0.6;
    scale: 1.15;
  }
  100% {
    opacity: 1;
    scale: 1.3;
  }
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
