.contacts {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: white;
}

.footer__content {
  padding: 60px 100px 88px 80px;
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.footer__list-item {
  list-style-type: none;
  margin-bottom: 16px;
}

.footer__social-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0 0 60px 80px;
}
